<div
  class="h-[350px] carousel carousel-vertical rounded-box self-center cursor-pointer z-10"
>
  <div class="carousel-item h-full relative" routerLink="book/read">
    <div class="w-full h-[5px] rounded-full bg-grey/20 absolute">
      <div class="w-[70%] h-[5px] rounded-full bg-indigo-600"></div>
    </div>
    <img
      src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg"
    />
  </div>
  <div class="carousel-item h-full relative" routerLink="book/read">
    <div class="w-full h-[5px] rounded-full bg-grey/20 absolute">
      <div class="w-[40%] h-[5px] rounded-full bg-indigo-600"></div>
    </div>
    <img
      src="https://daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.jpg"
    />
  </div>
</div>
