<div class="px-10 py-5 flex flex-col gap-10">
  <div>
    <h1 class="text-3xl font-bold uppercase">Rating</h1>
    <!-- loop over how many stars -->
    <div class="flex justify-center items-center">
      <ng-icon name="heroStarSolid" size="50" class="text-blue"></ng-icon>
    </div>
  </div>
  <div>
    <h1 class="text-3xl font-bold uppercase">Comments</h1>
    <p class="text-lg text-grey/70 m-0">
      This was amazing! I really likes the characters and plot and etc etc etc
    </p>
  </div>
  <div>
    <h1 class="text-3xl font-bold uppercase">Review tags</h1>
    <div
      class="w-full flex flex-wrap gap-2 text-grey justify-center items-center"
    >
      <div class="badge badge-outline p-3 text-lg">Character Driven 80%</div>
      <div class="badge badge-outline p-3 text-lg">Tense 60%</div>
      <div class="badge badge-outline p-3 text-lg">Light 90%</div>
      <div class="badge badge-outline p-3 text-lg">Fun 75%</div>
      <div class="badge badge-outline p-3 text-lg">Adventurous 80%</div>
      <div class="badge badge-outline p-3 text-lg">Casual 55%</div>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <button
      class="text-xl font-bold text-white uppercase bg-button-color hover:bg-blue rounded-full py-2 px-5"
      (click)="updateReview()"
    >
      Change Review
    </button>
    <span class="text-grey/60 font-bold self-center"
      >Last Changed: 23-04-2024</span
    >
  </div>
</div>
