<div class="flex flex-col gap-8">
  <!-- Pace -->
  <div class="flex flex-col gap-3">
    <h2 class="text-3xl font-bold uppercase">Pace.</h2>
    <div class="w-full h-8 bg-gray-200 rounded-full flex overflow-hidden">
      <div
        class="h-full bg-brown-grey border-r border-grey flex justify-center items-center"
        [style.width]="pacePercentages[0]"
      ></div>
      <div
        class="h-full bg-muted-red flex justify-center items-center"
        [style.width]="pacePercentages[1]"
      ></div>
      <div
        class="h-full bg-button-color border-l border-grey flex justify-center items-center"
        [style.width]="pacePercentages[2]"
      ></div>
    </div>
    <div class="flex gap-5 justify-center items-center">
      <div class="flex gap-2 justify-center items-center">
        <div class="h-2 w-2 bg-brown-grey"></div>
        <span>fast</span>
      </div>
      <div class="flex gap-2 justify-center items-center">
        <div class="h-2 w-2 bg-muted-red"></div>
        <span>moderate</span>
      </div>
      <div class="flex gap-2 justify-center items-center">
        <div class="h-2 w-2 bg-button-color"></div>
        <span>slow</span>
      </div>
    </div>
  </div>
  <!-- Length -->
  <div class="flex flex-col gap-3">
    <h2 class="text-3xl font-bold uppercase">Book Length.</h2>
    <div class="w-full h-8 bg-gray-200 rounded-full flex overflow-hidden">
      <div
        class="h-full bg-brown-grey border-r border-grey flex justify-center items-center"
        [style.width]="lengthPercentages[0]"
      ></div>
      <div
        class="h-full bg-muted-red flex justify-center items-center"
        [style.width]="lengthPercentages[1]"
      ></div>
      <div
        class="h-full bg-button-color border-l border-grey flex justify-center items-center"
        [style.width]="lengthPercentages[2]"
      ></div>
    </div>
    <div class="flex gap-5 justify-center items-center">
      <div class="flex gap-2 justify-center items-center">
        <div class="h-2 w-2 bg-brown-grey"></div>
        <span>long</span>
      </div>
      <div class="flex gap-2 justify-center items-center">
        <div class="h-2 w-2 bg-muted-red"></div>
        <span>medium</span>
      </div>
      <div class="flex gap-2 justify-center items-center">
        <div class="h-2 w-2 bg-button-color"></div>
        <span>short</span>
      </div>
    </div>
  </div>
</div>
