<app-background />

<div
  class="w-full h-lvh overflow-hidden flex flex-col justify-center items-center text-grey"
>
  <div class="h-1/2 w-full p-16 mb-10">
    <h1 class="font-bold text-3xl mb-10">SIGN UP</h1>
    <form
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-10"
    >
      <div class="flex flex-col gap-1">
        <div class="flex items-end w-full">
          <div class="border-b-[1px] border-grey/60 pl-1">
            <ng-icon name="heroUser" size="22" class="text-grey/60"></ng-icon>
          </div>
          <input
            id="username"
            type="text"
            formControlName="username"
            placeholder="Username"
            class="bg-transparent border-b-[1px] border-grey/60 h-8 w-full pl-2"
            formControlName="username"
          />
        </div>
        @if (signupForm.hasError('username') &&
        signupForm.get('username')?.touched) {
        <div class="text-red-500 text-center text-xs">
          Username must be between 8 and 24 characters.
        </div>
        }
      </div>
      <div class="flex flex-col gap-1">
        <div class="flex items-end w-full">
          <div class="border-b-[1px] border-grey/60 pl-1">
            <ng-icon name="heroUser" size="22" class="text-grey/60"></ng-icon>
          </div>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Email"
            class="bg-transparent border-b-[1px] border-grey/60 h-8 w-full pl-2"
          />
        </div>
      </div>
      @if (signupForm.hasError('email') && signupForm.get('email')?.touched) {
      <div class="text-red-500 text-center text-xs">
        Email is required and must be a valid email address.
      </div>
      }
      <div class="flex flex-col gap-1">
        <div class="flex items-end w-full">
          <div class="border-b-[1px] border-grey/60 pl-1">
            <ng-icon
              name="heroLockClosed"
              size="22"
              class="text-grey/60"
            ></ng-icon>
          </div>
          <input
            id="password"
            type="{{ showPassword ? 'password' : 'text' }}"
            formControlName="password"
            placeholder="Password"
            class="bg-transparent border-b-[1px] border-grey/60 h-8 w-full pl-2"
          />
          <div class="border-b-[1px] border-grey/60 pl-1">
            <ng-icon
              name="{{ showPassword ? 'heroEye' : 'heroEyeSlash' }}"
              size="22"
              class="text-grey/60"
              (click)="togglePassword()"
            ></ng-icon>
          </div>
        </div>
      </div>
      @if (signupForm.hasError('password') &&
      signupForm.get('password')?.touched) {
      <div class="text-red-500 text-center">
        Password is required and must be between 8 and 24 characters.
      </div>
      }
      <div class="flex flex-col gap-1">
        <div class="flex items-end w-full">
          <div class="border-b-[1px] border-grey/60 pl-1">
            <ng-icon
              name="heroCheckBadge"
              size="22"
              class="text-grey/60"
            ></ng-icon>
          </div>
          <input
            id="confirmPassword"
            type="{{ showPasswordConfirm ? 'password' : 'text' }}"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            class="bg-transparent border-b-[1px] border-grey/60 h-8 w-full pl-2"
          />
          <div class="border-b-[1px] border-grey/60 pl-1">
            <ng-icon
              name="{{ showPasswordConfirm ? 'heroEye' : 'heroEyeSlash' }}"
              size="22"
              class="text-grey/60"
              (click)="togglePasswordConfirm()"
            ></ng-icon>
          </div>
        </div>
      </div>
      @if (signupForm.hasError('confirmPassword') &&
      signupForm.get('confirmPassword')?.touched) {
      <div class="text-red-500 text-center">Passwords do not match</div>
      }
      <div class="flex flex-col gap-2">
        <button
          type="submit"
          class="bg-green text-white font-bold px-5 py-2 rounded-3xl self-center w-full mt-4"
        >
          Create Account
        </button>
        <div class="flex gap-2 self-center text-sm">
          <span>Already have an account?</span>
          <button class="font-bold underline" routerLink="/login">Login</button>
        </div>
        <!-- validation -->
        @if (errorMessage) {
        <div class="text-red-500 text-center">{{ errorMessage }}</div>
        }
      </div>
    </form>
  </div>
</div>
