<div class="w-full h-full">
  <div class="w-full h-2/3">
    <img [src]="bookTitle" alt="Book Cover" />
  </div>
  <div>
    <h1>Title</h1>
    <p>Author</p>
    <p>Published Date</p>
    <div>
      <span>Pages</span>
      <span>Language</span>
    </div>
    <p>Description</p>
  </div>
  <div>
    <!-- add a dropdown with: read, currently reading, TBR, DNF -->
  </div>
  <!-- Now you need to have diffrent sections for each of the above options -->

  <!-- read -->
  <!-- rating, mood, pace, comments, likes, dislikes, genres (possibly like/dislike) -->

  <!-- currently reading -->
  <!-- same as read -->
  <!-- If currently reading, have a DNF/Finish button -->
  <!-- Finish button turns it into a have read page -->
  <!-- DNF button turns it into a DNF page -->

  <!-- TBR -->
  <!-- Owned/digital/library etc -->
  <!-- comments -->

  <!-- DNF -->
  <!-- rating, why did you not like this?, mood, pace, comments, likes, dislikes, genres (possibly like/dislike) -->
</div>
