<div class="w-full h-lvh overflow-y-scroll relative bg-[#262626]">
  <div
    class="w-full h-fit flex justify-center py-5 gap-2 z-20 absolute lg:justify-end lg:pr-8"
  >
    @if (!search){
    <div
      class="bg-white w-fit h-fit px-3 py-3 flex gap-5 rounded-full shadow-4xl"
    >
      <div class="flex justify-center items-center" (click)="back()">
        <ng-icon
          name="heroChevronDoubleLeft"
          size="30"
          class="text-grey hover:text-button-color"
        ></ng-icon>
      </div>
    </div>

    <div
      class="bg-white w-fit h-fit px-5 py-3 flex gap-5 rounded-full shadow-4xl"
    >
      <div
        class="flex justify-center items-center mx-1"
        routerLink="/home"
        (click)="changeActive('home')"
      >
        <ng-icon
          name="{{ homeIcon }}"
          size="30"
          class="{{
            !home ? 'text-grey' : 'text-green'
          }} hover:text-button-color"
        ></ng-icon>
      </div>
      <div
        class="flex justify-center items-center mx-1"
        routerLink="profile"
        (click)="changeActive('stats')"
      >
        <ng-icon
          name="{{ pieIcon }}"
          size="30"
          class="{{
            !stats ? 'text-grey' : 'text-green'
          }} hover:text-button-color"
        ></ng-icon>
      </div>
      <div class="flex justify-center items-center">
        <div class="flex justify-center items-center">
          <ng-icon
            name="heroMagnifyingGlass"
            size="30"
            class="text-grey hover:text-button-color"
            (click)="toggleSearch()"
          ></ng-icon>
        </div>
      </div>
    </div>
    <div
      class="bg-white w-fit h-fit px-3 py-3 flex gap-5 rounded-full shadow-4xl"
    >
      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="flex justify-center items-center"
        >
          <ng-icon
            name="heroEllipsisVerticalSolid"
            size="30"
            class="text-grey hover:text-button-color"
          ></ng-icon>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><app-log-out /></li>
        </ul>
      </div>
    </div>
    } @else if (search) {
    <div
      class="bg-white w-fit h-[70px] pl-2 pr-5 py-2 flex gap-5 rounded-full shadow-4xl overflow-y-hidden"
    >
      <div
        class="flex justify-center items-start rounded-full overflow-y-hidden"
      >
        <form
          class="example-form flex gap-3"
          [formGroup]="searchForm"
          (ngSubmit)="searchBooks()"
        >
          <div class="w-fit h-[55px] rounded-full overflow-hidden">
            <mat-form-field class="example-full-width">
              <mat-label>Search Book</mat-label>
              <input
                type="text"
                placeholder="Harry Potter..."
                aria-label="Search Book"
                matInput
                [formControl]="searchForm.controls['searchTerm']"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                [displayWith]="displayBookTitle"
              >
                @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option"
                  ><div class="flex flex-col">
                    <span>{{ option.title }} </span
                    ><span class="text-xs text-light-grey"
                      >| {{ option.authors[0] }}</span
                    >
                  </div></mat-option
                >
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="flex justify-center items-center">
            <button
              class="flex justify-center items-center"
              type="submit"
              [disabled]="!searchForm.controls['searchTerm'].value"
            >
              <ng-icon
                name="heroMagnifyingGlass"
                size="30"
                class="text-grey hover:text-button-color"
              ></ng-icon>
            </button>
          </div>
        </form>
      </div>
      <div class="flex justify-center items-center">
        <div class="flex justify-center items-center">
          <ng-icon
            name="heroXCircle"
            size="30"
            class="text-grey hover:text-button-color"
            (click)="toggleSearch()"
          ></ng-icon>
        </div>
      </div>
    </div>
    }
  </div>
  <router-outlet />
</div>
