<div class="w-full h-lvh px-8 pb-5 overflow-y-scroll">
  <div class="w-full h-fit flex justify-center py-5 gap-2">
    <div
      class="bg-white w-fit h-fit px-3 py-3 flex gap-5 rounded-full shadow-4xl"
    >
      <div class="flex justify-center items-center">
        <ng-icon
          name="heroMagnifyingGlass"
          size="30"
          class="text-grey"
        ></ng-icon>
      </div>
    </div>
    <div
      class="bg-white w-fit h-fit px-5 py-3 flex gap-5 rounded-full shadow-4xl"
    >
      <div class="flex justify-center items-center">
        <ng-icon name="{{ homeIcon }}" size="30" class="text-grey"></ng-icon>
      </div>
      <div class="flex justify-center items-center">
        <ng-icon name="{{ pieIcon }}" size="30" class="text-grey"></ng-icon>
      </div>
    </div>
    <div
      class="bg-white w-fit h-fit px-3 py-3 flex gap-5 rounded-full shadow-4xl"
    >
      <div class="flex justify-center items-center">
        <ng-icon name="heroPlus" size="30" class="text-grey"></ng-icon>
      </div>
    </div>
  </div>

  <router-outlet />
</div>
