<div class="w-full h-lvh overflow-y-scroll relative bg-[#262626]">
  <div
    class="w-full h-fit flex justify-center py-5 gap-2 z-20 absolute lg:justify-end lg:pr-8"
  >
    <div
      class="bg-white w-fit h-fit px-3 py-3 flex gap-5 rounded-full shadow-4xl"
    >
      <div class="flex justify-center items-center" (click)="back()">
        <ng-icon
          name="heroChevronDoubleLeft"
          size="30"
          class="text-grey hover:text-dark-orange"
        ></ng-icon>
      </div>
    </div>
    <div
      class="bg-white w-fit h-fit px-5 py-3 flex gap-5 rounded-full shadow-4xl"
    >
      <div
        class="flex justify-center items-center mx-1"
        routerLink="/home"
        (click)="changeActive('home')"
      >
        <ng-icon
          name="{{ homeIcon }}"
          size="30"
          class="{{
            !home ? 'text-grey' : 'text-sky-500'
          }} hover:text-dark-orange"
        ></ng-icon>
      </div>
      <div
        class="flex justify-center items-center mx-1"
        routerLink="profile"
        (click)="changeActive('stats')"
      >
        <ng-icon
          name="{{ pieIcon }}"
          size="30"
          class="{{
            !stats ? 'text-grey' : 'text-sky-500'
          }} hover:text-dark-orange"
        ></ng-icon>
      </div>
      <div class="flex justify-center items-center">
        <div class="flex justify-center items-center">
          <ng-icon
            name="heroMagnifyingGlass"
            size="30"
            class="text-grey hover:text-dark-orange"
          ></ng-icon>
        </div>
      </div>
    </div>

    <div
      class="bg-white w-fit h-fit px-3 py-3 flex gap-5 rounded-full shadow-4xl"
    >
      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="flex justify-center items-center"
        >
          <ng-icon
            name="heroEllipsisVerticalSolid"
            size="30"
            class="text-grey hover:text-dark-orange"
          ></ng-icon>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><app-log-out /></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- I'm keeping this here as a guide on how to use the data later, I will remove it when I'm done -->
  <!-- @if (currentUserData) {
  <div>{{ currentUserData.username }}</div>
  } -->
  <!-- <p>Books:</p>
  @for (book of books$ | async; track book.id) {
  <div>==========================</div>
  <div>{{ book.title }}</div>
  <div>{{ book.authors }}</div>
  <div>{{ book.description }}</div>
  <div>{{ book.pageCount }}</div>
  <div>{{ book.categories }}</div>
  <div>{{ book.publishedDate }}</div>
  <div>==========================</div>
  } -->
  <router-outlet />
</div>
<!-- //this will be styled better later -->
