<div class="w-full h-lvh flex flex-col absolute -z-20 overflow-hidden">
  <div class="relative -left-48 -top-48">
    <div
      class="h-60 w-60 rounded-full bg-light-orange absolute right-0 top-0"
    ></div>
    <div class="h-72 w-72 rounded-full bg-dark-orange absolute top-8"></div>
  </div>

  <div
    class="h-72 w-72 rounded-full bg-dark-orange absolute -right-56 -bottom-32"
  ></div>
  <div
    class="h-60 w-60 rounded-full bg-light-orange absolute -right-14 -bottom-44"
  ></div>
</div>
