<div class="w-full">
  <h2 class="text-xl font-bold uppercase">Deal Breakers</h2>
  <div
    class="w-full flex flex-wrap gap-2 text-grey justify-center items-center"
  >
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      Charcaters
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      Plot
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      Writing Style
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      Themes
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      Pacing
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      Dialogue
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      World Building
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      Length
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      Conflict
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
    >
      Mature Content
    </div>
  </div>
</div>
