<div class="w-full">
  <h2 class="text-xl font-bold uppercase">Deal Breakers</h2>
  <div
    class="w-full flex flex-wrap gap-2 text-grey justify-center items-center"
  >
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('Characters')"
    >
      Charcaters
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('Plot')"
    >
      Plot
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('Writing Style')"
    >
      Writing Style
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('Themes')"
    >
      Themes
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('Pacing')"
    >
      Pacing
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('Dialogue')"
    >
      Dialogue
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('World Building')"
    >
      World Building
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('Length')"
    >
      Length
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('Conflict')"
    >
      Conflict
    </div>
    <div
      class="badge badge-outline p-3 text-lg hover:bg-green hover:text-white"
      (click)="addReason('Mature Content')"
    >
      Mature Content
    </div>
  </div>
</div>
